mixin affluent-background
  .affluent-background
    img.affluent-background_top-left(lazy-src=path+"assets/icons/affluent/affluent-bg-top-left.svg", alt="affluent-background")
    img.affluent-background_middle-right(lazy-src=path+"assets/icons/affluent/affluent-bg-middle-right.svg", alt="affluent-background")
    img.affluent-background_dotted-grid-top(lazy-src=path+"assets/icons/affluent/affluent-bg-dotted-grid.svg", alt="affluent-background")
    img.affluent-background_dotted-grid-middle(lazy-src=path+"assets/icons/affluent/affluent-bg-dotted-grid.svg", alt="affluent-background")
    img.affluent-background_bottom-left(lazy-src=path+"assets/icons/affluent/affluent-bg-bottom-left.svg", alt="affluent-background")