mixin affluent-card-icon(iconpath, desc)
  a(href="#").affluent-card_icon
    img.affluent-card_icon-img(src=path+iconpath, alt="affluent-standfirst")
    p.affluent-card_icon-desc=desc

mixin affluent-card_icon-list
  .affluent-card_icon-list(style="--mobile-mb: 80px; --desktop-mb: 158px")
    +affluent-card-icon("assets/icons/affluent/affluent-heart.svg", "Protect your loved ones and enjoy peace of mind")
    +affluent-card-icon("assets/icons/affluent/affluent-chart.svg", "Grow and accumulate your wealth strategically")
    +affluent-card-icon("assets/icons/affluent/affluent-shield.svg", "Tailor solutions for a secure financial future")
    +affluent-card-icon("assets/icons/affluent/affluent-satchel.svg", "Plan an impactful and meaningful legacy that lasts")

mixin affluent-card-large
  .affluent-card_large(style="--mobile-mb: 80px; --desktop-mb: 252px")
    .affluent-card_with-image
      .affluent-card_eyebrow <b>TAILORED</b> FOR YOU
      .affluent-card_content 
        .affluent-card_header
          h4.affluent-card_title Singlife Legacy <b>Indexed Universal Life</b>
          p.affluent-card_desc Your legacy is more than just assets – it’s the impact you leave behind. Let us help you craft a legacy plan that ensures your values and achievements truly last.
        ul.affluent-card_list 
          li.affluent-card_item 
            img(src=path+"assets/icons/affluent/affluent-tick-circle.svg", alt="affluent-item-mark-icon")
            p Grow your money while staying protected
          li.affluent-card_item 
            img(src=path+"assets/icons/affluent/affluent-tick-circle.svg", alt="affluent-item-mark-icon")
            p Grow your money while staying protected
          li.affluent-card_item 
            img(src=path+"assets/icons/affluent/affluent-tick-circle.svg", alt="affluent-item-mark-icon")
            p Grow your money while staying protected
      .affluent-card_cta 
        a.affluent-button_primary Discover more
        a.affluent-button_link.underline Lorem ipsum
    img.affluent-card_img(lazy-src=path+"assets/images/affluent/affluent-card-image-small.png", alt="")
        